.header {
  background-color: $color-secondary;
  width: 100%;

  // .nav-link {
  //   cursor: pointer;
  //   padding: 1rem;
  //   margin-left: 1rem;
  //   @media (max-width: 2560px) {
  //     font-size: 2.5rem;
  //   }
  //   @media (max-width: 1440px) {
  //     font-size: 1.7rem;
  //   }
  //   @media (max-width: 1024px) {
  //     font-size: 1.5rem;
  //   }
  //   @media (min-width: 767px) {
  //     font-size: 1.2rem;
  //     .navbar-collapse{

  //       background-color: aqua;
  //     }
  //     text-align: right;
  //   }
  //   @media (max-width: 575px) {
  //     font-size: 1rem;
  //   }
  // }
}

.hero {
  // width: 100%;
  height: 70vh;
  // background: url(../image/banner.jpg);
  background-image: url(../image/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 2560px) {
    height: 80vh;
    margin-bottom: 6rem;
  }
  &-item-left {
    overflow: hidden;

    img {
      width: 500px;
      position: absolute;
      bottom: -220px;

      @media (max-width: 2560px) {
        width: 450px;
        left: 200px;
      }
      @media (max-width: 1440px) {
        width: 450px;
        left: 150px;
      }
      @media (max-width: 1024px) {
        width: 250px;
        left: 150px;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
  }

  &-item-right {
    position: absolute;
    right: 200px;
    bottom: 50px;
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    width: 500px;
    height: 400px;
    border-radius: 2rem;
    padding: 1.5rem;
    color: $color-white;

    @media (max-width: 766px) {
      @include centering(50%);
      width: 290px;
      height: 90%;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-weight: 900;
      font-size: 3.5rem;

      @media (max-width: 766px) {
        font-size: 2rem;
      }
    }

    h3 {
      @media (max-width: 766px) {
        font-size: 1rem;
      }
    }

    .hero-item-app {
      @media (max-width: 575px) {
        width: 100%;
        height: 100%;
      }

      .app-box {
        @include flex_style;
        cursor: pointer;
        border: 2px solid $color-white;
        border-radius: 0.7rem;
        width: 210px;
        height: 50px;
        margin: 4px;
        margin-top: 1rem;
        @media (max-width: 575px) {
          width: 100%;
          margin: auto;
        }
      }

      .down-app-passenger {
        background-color: $color-white;
        color: $color-black;
      }

      .pwa-app {
        background-color: $color-white;
        color: $color-black;

        i {
          color: $color-black;
        }
      }
    }
  }
}

.main {
  margin-top: 10rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  &-container {
    margin: 10px auto;
    @media (max-width: 766px) {
      margin: 10px 40px;
    }
    @media (max-width: 575px) {
      margin: 10px auto;
      width: auto;
    }
  }

  &-title {
    font-weight: 600;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 2560px) {
      font-size: 2.5rem;
    }
    @media (max-width: 1440px) {
      font-size: 2rem;
    }
    @media (max-width: 1024px) {
      font-size: 1.8rem;
    }
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
    @media (max-width: 575px) {
      font-size: 1.2rem;
    }
  }

  &-service {
    border-bottom: 1px solid #9b9b9b;
    margin-bottom: 1rem;
    padding: 1rem;
    margin: auto;
    @media (max-width: 575px) {
      width: 100%;
      margin: 10px 2px;
    }
    .nav {
      flex-direction: row-reverse;

      @media (max-width: 767px) {
        overflow-x: scroll;
      }
      @media (max-width: 575px) {
        overflow-block: scroll;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;

        h6 {
          color: $color-black;
          @media (max-width: 2560px) {
            font-size: 0.8rem;
          }
          @media (max-width: 1440px) {
            font-size: 0.5rem;
          }
          @media (max-width: 1024px) {
            font-size: 0.8rem;
          }
          @media (max-width: 768px) {
            font-size: 0.7rem;
          }
          @media (max-width: 575px) {
            font-size: 0.8rem;
          }
        }

        &:hover {
          opacity: 1;
        }

        img {
          margin-bottom: 8px;
          @media (max-width: 2560px) {
            width: 70px;
          }
          @media (max-width: 1440px) {
            width: 60px;
          }
          @media (max-width: 1024px) {
            width: 50px;
          }
          @media (max-width: 768px) {
            width: 50px;
          }
          @media (max-width: 575px) {
            width: 80px;
          }
        }

        &-link {
          color: $color-black;
          opacity: 1;
        }
      }
      .active {
        background-color: transparent;
        color: $color-black;
      }
    }
  }

  .t-service-img {
    width: 80px;
  }
}

.service-body {
  height: 50vh;
  position: relative;
  width: 100%;
  // background-color: red;
  align-items: center;
  justify-content: center;
  @media (max-width: 2560px) {
    margin: 12px 0;
    height: auto;
  }
  @media (max-width: 766px) {
    width: 100%;
  }
  @media (max-width: 575px) {
    width: 100%;
    margin: 10px auto;
  }
  .tab-content {
    width: 100%;
  }
  &-img {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    @media (max-width: 575px) {
      display: none;
    }
    @media (max-width: 768px) {
      width: auto;
    }
    img {
      width: 600px;
      @media (max-width: 2560px) {
        width: auto;
      }

      @media (max-width: 1024px) {
        width: auto;
      }
      @media (max-width: 768px) {
        width: auto;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
  }

  &-description {
    top: 0;
    right: 40px;
    width: 45vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 575px) {
      width: 100%;
    }

    h1 {
      font-weight: 900;
      margin-bottom: 3rem;
      @media (max-width: 2560px) {
        font-size: 5rem;
      }
      @media (max-width: 1440px) {
        font-size: 3rem;
      }
      @media (max-width: 1024px) {
        margin: 2.4rem;
      }
      @media (min-width: 768px) {
        width: 50%;
        font-size: 1.2rem;
        margin: auto;
      }
      @media (max-width: 575px) {
        font-family: $font-danaBold !important;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }

    p {
      direction: rtl;
      box-sizing: border-box;
      text-align: justify;
      @media (max-width: 2560px) {
        font-size: 3rem;
      }
      @media (max-width: 1440px) {
        font-size: 1.5rem;
      }
      @media (max-width: 1024px) {
        font-size: 1.4rem;
      }
      @media (min-width: 767px) {
        font-size: 1rem;
      }
      @media (max-width: 575px) {
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.services {
  margin-top: 2rem;

  @media (max-width: 766px) {
    width: 100%;
  }
  @media (max-width: 575px) {
    margin-top: 1rem;
  }

  &-business {
    margin-bottom: 4rem;

    @media (max-width: 1024px) {
      flex-direction: row;
      width: 100%;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
    // @media (max-width: 575px) {
    //   flex-direction: column;
    //   width: 100%;
    // }
  }

  .buy-balance {
    margin-bottom: 4rem;

    @media (max-width: 2560px) {
      flex-direction: row-reverse;
      width: 100%;
    }
    @media (max-width: 1440px) {
      flex-direction: row-reverse;
      width: 100%;
    }
    @media (max-width: 1024px) {
      flex-direction: row-reverse;
      width: 100%;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .left {
    // width: 45vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 2560px) {
      width: 50%;
      padding: 4rem;
    }

    @media (max-width: 1440px) {
      width: 50%;
      padding: 2rem;
    }

    @media (max-width: 1024px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      padding: 40px;
      width: 100%;
    }

    @media (max-width: 575px) {
      width: 100%;
      padding: 10px;
    }
  }

  .right {
    // width: 45vw;
    padding: 1rem;
    direction: rtl;

    @media (max-width: 2560px) {
      width: 50%;
      padding: 4rem;
    }

    @media (max-width: 1440px) {
      width: 50%;
      padding: 2rem;
    }

    @media (max-width: 1024px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      padding: 20px;
      width: 100%;
    }

    @media (max-width: 575px) {
      width: 100%;
    }

    h1 {
      font-weight: 600;
      font-size: 2rem;
      text-align: right;
      @media (max-width: 2560px) {
        padding-top: 50px;
        margin-bottom: 20px;
        font-size: 1.7rem;
      }
      @media (max-width: 1440px) {
        font-size: 1.5rem;
      }
      @media (max-width: 1024px) {
        font-size: 1.2rem;
      }
      @media (max-width: 768px) {
        font-size: 1rem;
      }
      @media (max-width: 575px) {
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
    }

    p {
      text-align: justify;
      @media (max-width: 2560px) {
        padding-top: 50px;
        margin-bottom: 20px;
        font-size: 1.5rem;
      }
      @media (max-width: 1440px) {
        font-size: 1.2rem;
      }
      @media (max-width: 1024px) {
        font-size: 1rem;
      }
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 575px) {
        font-size: 0.6rem;
      }
    }

    .more-info {
      color: $color-primary;
      text-decoration: none;
      margin: 2rem;
    }
  }
}

.parallax {
  background: url(../image/parallax.jpeg) center/cover fixed no-repeat;
  margin-bottom: 3rem;
  overflow: hidden;

  .content-wrapper {
    padding: 1rem;
    direction: rtl;
    height: 180px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      height: 30vh;
    }
    @media (max-width: 525px) {
      flex-direction: column;
      height: 70vh;
    }

    .content-wrapper-col {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 24.5%;
      height: 100%;

      @media (max-width: 767px) {
        width: 100%;
        margin: 1rem;
      }

      @media (max-width: 575px) {
        width: 100%;
      }
    }

    .title {
      color: $color-white;
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;
      @media (max-width: 2560px) {
        font-size: 1rem;
      }
      @media (max-width: 1440px) {
        font-size: 1rem;
      }
      @media (max-width: 1024px) {
        font-size: 0.8rem;
      }
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 575px) {
        font-size: 0.8rem;
      }
    }

    .sub-title {
      color: $color-white;
      font-size: 1rem;
      text-align: center;
      display: none;
      margin-top: 10px;
      @media (max-width: 2560px) {
        font-size: 1rem;
      }
      @media (max-width: 1440px) {
        font-size: 1rem;
      }
      @media (max-width: 1024px) {
        font-size: 1rem;
      }
      @media (max-width: 768px) {
        font-size: 0.6rem;
      }
      @media (max-width: 575px) {
        font-size: 0.7rem;
      }
    }

    .separator {
      margin: 0 0.6rem;
      margin-top: 20px;
      content: "";
      height: 3rem;
      width: 0.1rem;
      background-color: $color-white;

      @media (max-width: 766px) {
        display: none;
      }
    }

    .content-wrapper-col:hover {
      margin-top: 0;
    }

    .content-wrapper-col:hover .sub-title {
      display: block;
    }
  }
}

.drivers {
  margin-bottom: 2rem;

  &-section {
    width: 100%;
    @media (max-width: 575px) {
      flex-direction: column !important;
    }
  }
  &-left {
    @media (max-width: 2560px) {
      width: 50%;
      img {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &-right {
    padding: 1.5rem;
  }

  &-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: $font-danaBold;

    @media (max-width: 2560px) {
      font-size: 2rem;
      font-weight: bolder;
    }
    @media (max-width: 1440px) {
      font-size: 1.7rem;
    }
    @media (max-width: 1024px) {
      font-size: 1.5rem;
    }
    @media (max-width: 768px) {
      font-size: 1rem;
    }
    @media (max-width: 575px) {
      font-size: 1.2rem;
      font-weight: 600;
      width: 100%;
      line-height: 2;
    }
  }

  &-description {
    text-align: justify;
    color: $color-sub-text;
    @media (max-width: 2560px) {
      font-size: 1.2rem;
    }
    @media (max-width: 1440px) {
      font-size: 1rem;
    }
    @media (max-width: 1024px) {
      font-size: 0.8rem;
    }
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    @media (max-width: 575px) {
      line-height: 2;
      margin-bottom: 2rem;
    }
  }

  .sub-title {
    // font-weight: 600;
    font-size: 1.2rem;
    font-family: $font-danaMedium;
    color: $color-sub-text;
    margin-bottom: 20px;
    @media (max-width: 2560px) {
      font-size: 1.5rem;
    }
    @media (max-width: 1440px) {
      font-size: 1.2rem;
    }
    @media (max-width: 1024px) {
      font-size: 1rem;
    }
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    @media (max-width: 575px) {
      line-height: 2;
    }

    span a {
      text-decoration: none;
      font-weight: 600;
      @media (max-width: 2560px) {
        font-size: 1.5rem;
      }
      @media (max-width: 1440px) {
        font-size: 1.2rem;
      }
      @media (max-width: 1024px) {
        font-size: 1rem;
      }
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 575px) {
        line-height: 2;
        margin-bottom: 2rem;
      }
    }
  }

  &-description-feature-list {
    margin-bottom: 50px;
    color: $color-sub-text;
    li {
      text-align: justify;
      @media (max-width: 2560px) {
        font-size: 1.2rem;
      }
      @media (max-width: 1440px) {
        font-size: 1rem;
      }
      @media (max-width: 1024px) {
        font-size: 0.8rem;
      }
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 575px) {
        line-height: 1.7;
        text-align: right;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .links-wrapper {
    @media (max-width: 2560px) {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      .btn span {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
    @media (max-width: 1440px) {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      .btn span {
        font-size: 1rem;
        font-weight: 300;
      }
    }
    @media (max-width: 1024px) {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      .btn {
        width: 160px;
      }
      .btn span {
        font-size: 0.6rem;
        font-weight: 300;
      }
    }
    @media (max-width: 768px) {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      .btn {
        width: 200px;
      }
      .btn span {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
    @media (max-width: 575px) {
      width: 100%;
      margin: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .btn span {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  // margin: 2rem 0;
  @media (max-width: 2560px) {
    padding: 60px;
    margin-bottom: 6rem;
  }
  @media (max-width: 1440px) {
    margin-bottom: 4rem;
  }
  @media (max-width: 1024px) {
    margin-bottom: 3rem;
  }
  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
  @media (max-width: 524px) {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &-title {
    text-align: right;
    font-size: 2rem;
    margin-right: 20px;
    font-family: $font-danaBold;
    @media (max-width: 2560px) {
      font-size: 2rem;
    }
    @media (max-width: 1440px) {
      font-size: 1.7rem;
    }
    @media (max-width: 1024px) {
      font-size: 1.5rem;
    }
    @media (max-width: 768px) {
      font-size: 1.3rem;
      // margin-bottom: 1rem;
    }
    @media (max-width: 575px) {
      font-size: 1.5rem;
      width: 100%;
      padding: 2rem;
    }
  }

  .cards {
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (max-width: 768px) {
      margin-bottom: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      direction: rtl;
      height: 350px;
      width: 33.33333%;
      cursor: pointer;
      @media (max-width: 2560px) {
        width: 33.33333%;
        height: auto;
      }
      @media (max-width: 1440px) {
        width: 33.33333%;
        height: auto;
      }
      @media (max-width: 1024px) {
        width: 33.33333%;
        height: auto;
      }
      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }
      @media (max-width: 575px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 6px;
        height: auto;
      }
      &-title {
        font-weight: 600;
        margin-bottom: 1rem;
        font-family: $font-danaBold;

        @media (max-width: 2560px) {
          font-size: 1.7rem;
        }
        @media (max-width: 1440px) {
          font-size: 1.5rem;
        }
        @media (max-width: 1024px) {
          font-size: 1rem;
        }
        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
        @media (max-width: 575px) {
          font-size: 0.8rem;
        }
      }

      &-text {
        // overflow-x: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #9b9b9b !important;
        display: -webkit-box;
        overflow: hidden;
        text-align: justify;
        font-family: $font-danaLight;

        @media (max-width: 2560px) {
          font-size: 1.5rem;
        }
        @media (max-width: 1440px) {
          font-size: 1.2rem;
        }
        @media (max-width: 1024px) {
          font-size: 0.9rem;
        }
        @media (max-width: 768px) {
          font-size: 0.7rem;
        }
        @media (max-width: 575px) {
          font-size: 0.7rem;
        }
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.cities {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background: $color-secondary;
  padding: 40px 10%;
  position: relative;
  vertical-align: baseline;
  @media (max-width: 575px) {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 10%;
    width: 400px;
    opacity: 0.2;
  }

  &-title {
    text-align: right;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  &-wrapper {
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(8, auto);
  }

  .city {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin-bottom: 1rem;
    z-index: 2;
    margin-bottom: 0.8rem;
    vertical-align: baseline;

    .name {
      font-size: 1rem;
      margin: 0;
    }

    .english-name {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.footer {
  background-color: $color-black;
  padding: 20px;
  max-width: 100%;
  overflow: hidden;

  &-content {
    @include flex_style;
    direction: ltr;
    max-width: 100%;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    .trust-col {
      @include flex_style;
      width: 550px;
      justify-content: space-around;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
      }

      .trust-namad {
        @include flex_style;
        margin: 0 4px;
        background-color: $color-white;
        height: 200px;
        width: 100px;
        border-radius: 12px;

        @media (max-width: 575px) {
          width: 50px;
          height: 80px;
          margin: 1rem;
        }
      }
    }

    .footer-cols {
      @media (max-width: 766px) {
        padding-top: 10px;
        flex-direction: column-reverse;
        width: 100%;
      }
      @media (max-width: 575px) {
        flex-direction: column-reverse;
        width: 100%;
      }
    }

    .footer-col {
      display: flex;
      justify-content: start;
      flex-direction: column;
      color: $color-white;
      text-align: right;
      line-height: 2;

      h6 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @media (max-width: 766px) {
          font-size: 1.5rem;
          font-family: $font-danaBold;
          line-height: 2;
          margin-top: 1.5rem;
        }
      }

      a {
        color: $color-white;
        text-decoration: none;
        font-size: 0.8rem;

        @media (max-width: 766px) {
          font-size: 1rem;
        }
      }
    }

    .brand-col {
      margin-left: 12px;
      text-align: right;

      h3 {
        font-size: 0.6rem;
        color: $color-white;
        margin-top: 1.5rem;

        @media (max-width: 766px) {
          font-size: 1rem;
        }
      }

      .copy-right {
        margin-top: 3rem;
        color: #9b9b9b;
        font-size: 0.6rem;

        @media (max-width: 766px) {
          display: none;
        }
      }
    }
  }

  .social-container {
    h3 {
      color: $color-white;
      font-size: 0.8rem;
    }

    width: 150px;

    .social-links {
      margin-left: 4px;

      a {
        text-decoration: none;
        color: #9b9b9b;
      }
    }
  }
}
